#start-btn{
    width: 40%;
    color: yellow;
}

#camera{
    width: 360px;
    height: 250px;
    border: 1px solid black;
}

#logo_img{
    width: 150px;
    border-radius: 100px;
}

#textbox{
    width: 300px;
}

body{
    background-color: burlywood;
}

